div.form > ul {
	margin: 0px;
}

div.inline input[name='new'] {
    width: 300px;
}

div.inline > div {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

label#donation-donor {
	font-size: 1.5em;
	font-weight: bold;
}

h1.title {
	text-align: center;
}