<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Person</title>
    <link rel="stylesheet" href="//code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

<div data-role="page" id="person">
    <div data-role="header" data-theme="b">
        <div data-role="controlgroup" data-type="horizontal" class="ui-btn-left">
            <a href="people.html" name="back" data-icon="arrow-l" data-role="button">People</a>
            <a href="../index.html" name="person-home" data-icon="home" data-role="button">Main</a>
        </div>
        <a href="#" data-icon="check" name="save" data-role="button" class="ui-btn-right">Save</a>
        <h1>Person</h1>
    </div><!--/ header -->

    <div data-role="content">
        <form>

            <!-- person type -->

            <div data-role="fieldcontain">
                <label for="person-title">Relationship:</label>
                <select name="person-type" id="person-type">
                </select>
            </div>

            <!-- title -->

            <div data-role="fieldcontain">
                <label for="person-title">Title:</label>
                <input type="text" data-clear-btn="true" name="person-title" id="person-title" value="">
            </div>

            <!-- first name -->

            <div data-role="fieldcontain">
                <label for="person-first-name">First Name:</label>
                <input type="text" data-clear-btn="true" name="person-first-name" id="person-first-name" value="">
            </div>

            <!-- last name -->

            <div data-role="fieldcontain">
                <label for="person-last-name">Last Name:</label>
                <input type="text" data-clear-btn="true" name="person-last-name" id="person-last-name" value="">
            </div>

            <!-- suffix -->

            <div data-role="fieldcontain">
                <label for="person-suffix">Suffix:</label>
                <input type="text" data-clear-btn="true" name="person-suffix" id="person-suffix" value="">
            </div>

            <!-- org name -->

            <div data-role="fieldcontain">
                <label for="person-org-name">Org Name:</label>
                <input type="text" data-clear-btn="true" name="person-org-name" id="person-org-name" value="">
            </div>

            <!-- gender -->

            <div data-role="fieldcontain">
                <label for="person-gender">Gender:</label>
                <select name="person-gender" id="person-gender">
                </select>
            </div>

            <!-- family info -->

            <div data-role="fieldcontain">
                <label for="person-notes">Notes:</label>
                <textarea cols="40" rows="8" name="person-notes" id="person-notes"></textarea>
            </div>

            <!-- ADDRESS -->

            <div data-role="collapsible-set" data-theme="b" data-content-theme="d">
                <div data-role="collapsible">
                    <h2>Address</h2>

                <!-- address1 -->

                    <div data-role="fieldcontain">
                        <label for="person-address1">Address 1:</label>
                        <input type="text" data-clear-btn="true" name="person-address1" id="person-address1" value="">
                    </div>

                <!-- address2 -->

                    <div data-role="fieldcontain">
                        <label for="person-address2">Address 2:</label>
                        <input type="text" data-clear-btn="true" name="person-address2" id="person-address2" value="">
                    </div>

                <!-- city -->

                    <div data-role="fieldcontain">
                        <label for="person-city">City:</label>
                        <input type="text" data-clear-btn="true" name="person-city" id="person-city" value="">
                    </div>

                <!-- state -->

                    <div data-role="fieldcontain">
                        <label for="person-state">State:</label>
                        <input type="text" data-clear-btn="true" name="person-state" id="person-state" value="">
                    </div>

                <!-- zip -->

                    <div data-role="fieldcontain">
                        <label for="person-zip">Zip:</label>
                        <input type="text" data-clear-btn="true" name="person-zip" id="person-zip" value="">
                    </div>

                <!-- county -->

                    <div data-role="fieldcontain">
                        <label for="person-county">County:</label>
                        <input type="text" data-clear-btn="true" name="person-county" id="person-county" value="">
                    </div>

                </div>

            <!-- CONTACT INFO -->

                <div data-role="collapsible" >
                    <h2>Contact Info</h2>

                    <!-- email address -->

                    <div data-role="fieldcontain">
                        <label for="person-email">Email:</label>
                        <input type="email" data-clear-btn="true" name="person-email" id="person-email" value="">
                    </div>

                    <!-- phone1 -->

                    <div data-role="fieldcontain">
                        <label for="person-phone1">Phone 1:</label>
                        <input type="tel" data-clear-btn="true" name="person-phone1" id="person-phone1" value="">
                    </div>
                    
                    <div data-role="fieldcontain">
                        <label for="person-phonetype1">Phone 1 Type:</label>
                        <select name="person-phonetype1" id="person-phonetype1">
                        </select>
                    </div>

                    <!-- phone2 -->

                    <div data-role="fieldcontain">
                        <label for="person-phone2">Phone 2:</label>
                        <input type="tel" data-clear-btn="true" name="person-phone2" id="person-phone2" value="">
                    </div>
                    
                    <div data-role="fieldcontain">
                        <label for="person-phonetype2">Phone 2 Type:</label>
                        <select name="person-phonetype2" id="person-phonetype2">
                        </select>
                    </div>

                    <!-- phone3 -->

                    <div data-role="fieldcontain">
                        <label for="person-phone3">Phone 3:</label>
                        <input type="tel" data-clear-btn="true" name="person-phone3" id="person-phone3" value="">
                    </div>
                    
                    <div data-role="fieldcontain">
                        <label for="person-phonetype3">Phone 3 Type:</label>
                        <select name="person-phonetype3" id="person-phonetype3">
                        </select>
                    </div>

                    <!-- contact preference -->
                    
                    <div data-role="fieldcontain">
                        <label for="person-contactpref">Contact Preference:</label>
                        <select name="person-contactpref" id="person-contactpref">
                        </select>
                    </div>

                </div>

				<!-- INTERESTS -->
                <div data-role="collapsible" class="one-to-many-panel">
                    <h2>Interests</h2>

                    <div data-role="fieldcontain">
                        <label for="person-addinterests">Add Interest:</label>
                        <div data-role="controlgroup" data-type="horizontal">
                            <select name="person-addinterests" id="person-addinterests">
                            </select>
                            <a href="#" id="person-new-interest" data-role="button" data-inline="true" data-icon="check" data-theme="b">Add</a>
                        </div>
                    </div>

                    <div data-role="fieldcontain">
                        <label for="person-interests">Assigned Interests (Click on one to delete):</label>
                    </div>
                    <ul data-role="listview" data-inset="true" data-theme="d" id="person-interests">
                    </ul>
                </div>
	            

            <!-- CONTACT -->

                <div data-role="collapsible" class="one-to-many-panel">
                    <h2>Contact Activity</h2>
                    <ul data-role="listview" data-theme="d" id="person-contacts">
                    </ul>
                    <a href="#" id="person-new-contact" data-role="button" data-inline="true" data-icon="check" data-theme="b">Add new</a>
                </div>
            <!-- DONATION -->
                <div data-role="collapsible" class="one-to-many-panel">
                    <h2>Donation Activity</h2>
                    <ul data-role="listview" data-theme="d" id="person-donations">
                    </ul>
                    <a href="#" id="person-new-donation" data-role="button" data-inline="true" data-icon="check" data-theme="b">Add new</a>
                </div>
            </div>


        </form>
    </div>
</div>


</body>
</html>